h1 {
    font-size: 30px;
}

.video-container {
    position: relative;
    max-height: 200px;
    overflow: hidden;
}

.header {
    position: absolute;
    font-size: 80px;
    color: white;
    top:35px;
    width: 100%;
    text-align: center;
}

.calculator-container {
    min-height: 81vh;
}

.calculator {
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.results {
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    border-radius: 10px;
    margin-bottom: 40px;
}

.footer {
    color: white;
    background-color: rgb(177, 177, 177);
    height: 60px;
    text-align: center;
    // position: fixed;
    // bottom:0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 560px) {
    .header {
        position: absolute;
        font-size: 40px;
        color: white;
        top:60px;
        width: 100%;
        text-align: center;
    }
    .mobile-width {
        width: 90%;
    }
}